<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</head>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2451167607255001",
    enable_page_level_ads: true
  });
</script>

<body>

<div class="container">

<div class="main clearfix">
{{ content }}
</div>
</div>
{% include google_analytics.html %}
</body>
</html>

