<!DOCTYPE HTML>
<html>
<!-- <html> -->
<head>
  <link rel="shortcut icon" href="/img/favicon.png" />
  <title>{{ page.title }}|{{ site.title }}</title>
  {% include header.html %}
  <script type="text/javascript">
        var BYB = {};
  </script>
  <script type="text/javascript">
    BYB.includeScript = function(file,callback){
    var _doc = document.getElementsByTagName('head')[0];
    var js = document.createElement('script');
    js.setAttribute('type', 'text/javascript');
    js.setAttribute('src', file);
    _doc.appendChild(js);
    
    if (!/*@cc_on!@*/0) { //if not IE
    //Firefox2、Firefox3、Safari3.1+、Opera9.6+ support js.onload
    js.onload = function () {
    callback();
    }
    } else {
    //IE6、IE7 support js.onreadystatechange
    js.onreadystatechange = function () {
    if (js.readyState == 'loaded' || js.readyState == 'complete') {
    callback();
    }
    }
    }
    return false;
    }
  </script>
  <meta content="{{ page.description }}" name="description"/>
  <meta content="{% for tag in page.tags %}{{ tag }},{% endfor %}" name="keywords"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />

  <!-- code prettify-->
  <script type='text/javascript'>
    $(document).ready(function(){ 
        $("pre,code").addClass("prettyprint");
        prettyPrint();
    });
  </script> 
  
  <link href="/style/code_prettify/prettify.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/style/code_prettify/prettify.js"></script> 

  
  <!-- add ofr google ads -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2451167607255001",
    enable_page_level_ads: true
  });
  </script>
</head>
<body>


<article id="main" itemscope itemtype="http://schema.org/Article">
<div class="container">

<div class="main clearfix">
  <div class="title" itemprop="name">{{ page.title }}</div>
  <div class="hidden" itemprop="author">Gaozhipeng</div>
  <div class="hidden" itemprop="description">{{ page.description }}</div>


  <div class="content {{ page.categories }}_content_css" itemprop="articleBody">
    {{ content }}
  </div>

<div id="container"></div>
<!-- gitment 服务器proxy配置，需要更新 -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> -->
<!--  -->
<!-- <script>
var gitalk = new Gitalk({
  clientID: 'e8a0dc56911a9b44b385',
  clientSecret: '519e2c4de60dfd3188fc47e8a95b474b949b1cec',
  repo: 'comments',
  owner: 'gaozp',
  admin: ['gaozp'],
  id: decodeURI(location.pathname),      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
gitalk.render('container')
</script> -->

</div>
</article>

</div>
{% include footer.html %}

</body>
</html>
